# Java
*.class
*.jar
*.war
*.ear

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# jpa
persistence.xml

# log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.project
.classpath
.settings

# Maven
target/*
target/
target
surefire-reports/*
surefire-reports/

# netbeans
nbproject/*
nbproject/
nbproject
nb-configuration.xml
nbactions.xml

# Build
out
build
bin

# Other
*.swp
*.bak

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk